.customer-content {
	background: #111;
	padding-left: 40px;
	display: flex;
	flex-direction: row;
    min-height: 100vh;
}

.content-right {
    width: 975px;
    margin-left: 5px;
    position: relative;
    display: inline-block;
}

.content-right h1.title {
    margin-bottom: 15px;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    color: #fff;
}

.content-right .wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%!important;
    padding: 30px 20px 20px!important;
    background: #1d1d1d;
    border-radius: 4px;
}

.content-right .wrapper form {
    width: 60%;
    padding-left: 10px;
}

.content-right .wrapper .form-group {
    margin-bottom: 15px;
    position: relative;
}

.content-right .wrapper .form-group .form-control[disabled] {
    background: #3d3d3d;
    color: #aaa;
}

.content-right .wrapper .form-group .control-label {
    width: 20%;
    font-size: 14px;
    margin-bottom: 0;
    font-weight: 400;
    color: #fff;
}

.content-right .wrapper .form-group .input-wrap {
    display: inline-block;
    position: relative;
    width: 405px;
}

.content-right .wrapper .form-group .input-wrap.amount {
    color: #fd961a;
    font-size: 20px;
    font-weight: 600;
}

.content-right .wrapper .form-group .input-wrap input[type=radio]+span{
    padding-left: 20px;
    color: #fff;
}

.content-right .wrapper .form-group .input-wrap .row {
    padding: 7px 0;
    height: 46px;
    display: flex;
    align-items: center;
}

.content-right .wrapper .content .birthday-picker .form-control {
    width: 30%!important;
    margin-right: 10px;
    display: inline-block;
}

.content-right .wrapper .form-group .control-label span {
    display: block;
    margin-top: 5px;
    color: #eee;
    font-size: 10px;
    position: absolute;
}

.content-right .wrapper .form-group .input-wrap.margin {
    margin-left: 20%;
}

.content-right .wrapper .form-group .input-wrap .checkbox {
    display: inline-block;
    cursor: pointer;
    font-size: 13px;
}

.content-right .wrapper .form-group .input-wrap .checkbox span{
	color: #fff;
	margin-left: 20px;
}

.content-right .wrapper .form-group .btn-update {
    border: none;
    width: 176px;
    height: 40px;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    background-color: #fd961a;
}

.content-right .wrapper .form-group .btn-update:hover {
    background: rgba(253, 150, 26,.9) !important;
    outline: none !important;
}

.content-right .wrapper .password-group {
    transition: 0.1s;
}




