.friend-list {
	border: solid 1px #3d3d3d;
	display: flex;
	flex-direction: column;	
	margin: 10px;
	background: #2d2d2d;
	width: 50%;
}

.friend-list .friend {
	display: flex;
	align-items: center;
	padding: 10px;
	position: relative;
	margin: 0;
	height: 70px;
}

.friend-list .friend:hover {
	background: #4d4d4d;
}

.friend-list .friend+.friend {
	border-top: 1px solid #3d3d3d;
}

.friend-list .friend .avatar {
	border-radius: 50%;
    width: 40px;
    background: #fff;
    height: 40px;
    text-align: center;
    display: table;
    margin-left: 10px;
}

.friend-list .friend .avatar i {
	font-size: 25px;
    display: table-cell;
    vertical-align: middle;
}

.friend-list .friend .text {
	display: inline-flex;
	flex-direction: column;
	font-size: 10px;
	font-family: "Open Sans", sans-serif;
	color: #fff;
	margin-left: 20px;
}

.friend-list .friend .text span.name {
	font-size: 13px;
	font-weight: 600;
	margin: 0px;
}

.friend-list .friend .text span.email {
	font-style: italic;
    font-size: 11px;
    color: #ddd;
}

.friend-list .friend .text span.phone {
    font-size: 11px;
    color: #ddd;
}

.friend-list .friend a {
	position: absolute;
	right: 20px;
}

.friend-list .friend button {
	color: #fd961a;
	font-size: 13px;
	font-weight: 600;
	border: 1px solid #fd961a;
	text-align: center;
	padding: 7px;
	outline: none;
	background: transparent;
}

.friend-list .friend button:hover {
	color: #fff;
	background: #fd961a;
}

.wrapper.favorite {
}

.wrapper button.add-user {
	margin-right: 10px;
    display: inline-block;
    width: 130px;
    color: #fff;
    background: #fd961a;
    border: none;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}

.wrapper button.add-user:hover {
	background: rgba(253, 150, 26,.9);
}

.wrapper button.add-user+.input-wrap input {
	transition: width 0.3s, padding-left 0.6s;
	width: 0;
	border: none;
	padding: 0;
}

.wrapper button.add-user+.input-wrap input.display {
	width: 400px;
	border: 1px solid #333;
    padding-left: 20px;
}

.content-right .wrapper .form-group:last-child {
	margin-bottom: 0px;
}