.page {
	display: flex;
	flex-direction: column;
}

.form-message .success {
	color: green;
}

.form-message .info {
	color: blue;
}

.form-message .error {
	color: red;
}

.customer-content {
	padding-left: 40px;
	background: #111;
}
